#websocketclient-status {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
    font-family: monospace;
    z-index: 1000;
}