.leaderboard-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

.leaderboard-question-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block-end: 8px;
    padding-block-end: 8px;
    width: 100%;
}

.leaderboard-question, .leaderboard-answer {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-block-end: 8px;
    padding: 8px;
    width: 95%;
}

.leaderboard-question {
    border-color: #4caf50;
}

.leaderboard-answer {
    border-color: darkblue;
    display: flex;
    flex-direction: row;
}

.leaderboard-answer.hidden {
    color: transparent;
}

.leaderboard-status-button {
    border-radius: 10px;
    border-style: solid;
    height: auto;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
}

.leaderboard-players-container {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: solid;
    font-weight: bold;
    max-width: 640px;
    padding-left: 0;
    padding-right: 0;
    text-align: start;
    width: 95%;
}

.leaderboard-players-container thead tr {
    border-bottom-color: black;
    border-bottom-style: dashed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.leaderboard-player {
    padding-block: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.leaderboard-player:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.leaderboard-player:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leaderboard-player:not(:last-of-type) {
    border-bottom-color: black;
    border-bottom-style: dashed;
}

/*.leaderboard-player.under {
    background-color: dimgray;
    color: white;
}

.leaderboard-player.exact {
    background-color: darkblue;
    color: white;
} */

.leaderboard-player-answer {
    text-align: center;
}

.leaderboard-player-answer.exact {
    color: darkgoldenrod;
}

.leaderboard-player-answer.over {
    color: darkred;
}

.leaderboard-error {
    color: darkred;
}