.screen-round-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

.screen-round-question-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block-end: 8px;
    padding-block-end: 8px;
    width: 100%;
}

.screen-round-question, .screen-round-answer {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin-block-end: 8px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    width: 95%;
}

.screen-round-question {
    border-color: #4caf50;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.screen-round-answer {
    border-color: darkblue;
}

.screen-round-status-button {
    border-radius: 10px;
    border-style: solid;
    height: auto;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
}

.screen-round-players-container {
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    width: 90%;
}

.screen-round-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 8px;
}

.screen-round-player:not(:last-child) {
    border-bottom-style: dashed;
}

.screen-round-error {
    color: darkred;
}