.screen-round-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

.screen-round-question-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block-end: 8px;
    padding-block-end: 8px;
    width: 100%;
}

.screen-round-question, .screen-round-answer {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-block-end: 8px;
    padding: 8px;
    width: 95%;
}

.screen-round-question {
    border-color: #4caf50;
}

.screen-round-answer {
    border-color: darkblue;
}

.screen-round-answer.hidden {
    color: transparent;
}

.screen-round-status-button {
    border-radius: 10px;
    border-style: solid;
    height: auto;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
}

.screen-round-players-container {
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 95%;
}

.screen-round-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.screen-round-player:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.screen-round-player:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screen-round-player:not(:last-child) {
    border-bottom-color: black;
    border-bottom-style: dashed;
}

.screen-round-player.under {
    background-color: yellowgreen;
    color: white;
}

.screen-round-player.exact, .done-ticking {
    background-color: darkblue;
    color: white;
}

.screen-round-player.over {
    background-color: darkred;
    color: white;
}

.screen-round-error {
    color: darkred;
}